.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px 14px !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  top: -17% !important;
}
.picture-container {
  min-width: 13.5rem;
}
.LoginUserInfoControl {
  margin: 10px 0;
}
